<div class="signup">
  <div class="signup-form">
    <div class="signup-form-box">
      <p class="greeting">Welcome to ToDoMap！</p>
      <p class="signup-title">新規登録</p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :Nickname %> <em>(６文字まで)</em><br />
          <%= f.text_field :Nickname, autofocus: true, maxlength: "6" ,:class => "nickname"%>
        </div>

        <div class="field">
          <%= f.label :email %><br >
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "登録" ,:class => "signup-btn"%>
        </div>
      <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
