<div class="todomaps">
  <div class='map-header'>
    <div class='map-header-title'>
      <p>まっぷの木</p>
    </div>
    <div class='logout-btn'>
      <ul>
        <li><%= current_user.Nickname %></li>
        <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
      </ul>
    </div>
  </div>
  <div class="form">
    <div class="search">
      <input id="search-address" class="search-address" type="textbox"  placeholder="地名を検索(例:東京,新宿)※入力必須">
      <button id="search-btn" class="search-btn" onclick="codeaddress()">検索</button>
    </div>

    <div class="message-form">
      <%= form_for @list,url: maps_path do |form| %>
        <input type='hidden' name='list[address]' id='hidden-address'>
        <%= form.text_field :title,placeholder: "タイトル(必須)" , :class=>"form-title"%>
        <%= form.text_area :message,placeholder: "メッセージ" ,:class=>"form-message"%>
        <%= form.submit "保存",:class=>"form-btn"%>
      <% end %>
    </div>
  </div>
  <div class="map">
    <div id="gmap">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
      <script>
        let map
        let geocoder
        let marker

        function initMap(){
          geocoder = new google.maps.Geocoder();
          let gmap = document.getElementById("gmap");
          let tokyo = {lat: 35.681167,lng: 139.767052};

          map = new google.maps.Map(gmap, {
            center: tokyo,
            zoom: 8,
            disableDefaultUI: true,
            zoomControl: true,
            clickableIcons: false
          });

          <% @lists.each do |list| %>
            <% if current_user.id == list.user_id %>
            pos = new google.maps.LatLng(
              <%= list.latitude %>, 
              <%= list.longitude %> 
            );
            saveMarker = new google.maps.Marker({
              map: map,
              position: pos,
              icon: {
                url: ' https://maps.google.com/mapfiles/ms/icons/green-dot.png',
                scaledSize: new google.maps.Size(40, 40) 
              }
            });
            <% end %>
          <% end %>
        }

        function codeaddress(){
          let inputaddress = document.getElementById('search-address').value;
          geocoder.geocode({
            'address' : inputaddress
          },function(results,status){
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);

              marker = new google.maps.Marker({
                map: map,
                position:results[0].geometry.location,
                animation: google.maps.Animation.DROP
              });

              let title = document.getElementById('list_title');
              let hidden_address = document.getElementById('hidden-address');

              title.setAttribute("value", inputaddress);
              hidden_address.setAttribute("value", inputaddress);
            }else{
              alert("必須項目を入力してください");
            }
          });
        }
      </script>
    </div>
  </div>
  <div class="list">
    <div class="list-title">
      <h1>リスト一覧</h1>
    </div>
    <div class="lists">
      <% @lists.each do |list| %>
        <%if current_user.id == list.user_id %>
          <%= render partial: "list", locals: { list: list } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>